@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    
    --color-brand: var(--color-indigo-600);
    --color-brand-dark: var(--color-indigo-900);
    --color-bg-soft: var(--color-slate-50);
}

@layer base {
    body {
        @apply font-sans text-slate-900 bg-slate-50;
    }
}

